@use '../../../../../../public/styles/variables' as var;

.recipe-detail {
    width: calc(100% - 4rem);
    margin-top: 0.5rem;
    padding: 1.5rem;
    background-color: var.$white;

    &__image {
        width: 100%;
        display: block;
    }
    &__info {
        list-style: none; 
        display: flex;
        padding: 0;
        margin: 1rem 0;
        li {
            padding: 0.25rem 1.5rem;
            border-right: 0.063rem solid var.$grey;
            &:first-child {
                padding-left: 0;
            }
        }
        span {
            font-size: 0.75rem;
            line-height: 0.75rem;
            display: flex;
            flex-direction: column;   
        }
        &-title {
            text-transform: uppercase;
            color: var.$grey;
            padding-bottom: 0.25rem;
        }
    }
    &__ingredients {
        li {
            &::before {
                content: "-"; 
                margin-right: 0.25rem;
            }
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
    }
    
    &__section {
        padding: 0.5rem 0;
    }
}
