<section class="recipe-detail" *ngIf="recipe">
    <h1 class="recipe-detail__title">{{ recipe.name }}</h1>
    <img [src]="recipe.image" [alt]="recipe.name" class="recipe-detail__image" />
    <ul class="recipe-detail__info">
        <li>
        <span class="recipe-detail__info-title">Prep Time</span>
        {{ recipe.prepTimeMinutes }} min
        </li>
        <li>
        <span class="recipe-detail__info-title">Cook Time</span>
        {{ recipe.cookTimeMinutes }} min
        </li>
        <li>
        <span class="recipe-detail__info-title">Servings</span>
        {{ recipe.servings }}
        </li>
        <li>
        <span class="recipe-detail__info-title">Calories</span>
        {{ recipe.caloriesPerServing }} kcal
        </li>
    </ul>
    <section class="recipe-detail__section">
        <h2 class="recipe-detail__section-title">Ingredients</h2>
        <ul class="recipe-detail__ingredients">
        <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
        </ul>
    </section>
    <section class="recipe-detail__section">
        <h2 class="recipe-detail__section-title">Instructions</h2>
        <ol class="recipe-detail__instructions">
        <li *ngFor="let step of recipe.instructions">{{ step }}</li>
        </ol>
    </section>
</section>
